body{
  margin: 0;
  padding: 0;
}

header{
  width: 100%;
  display: flex;
  align-items: center;
  height: 80px;
  box-shadow: 2px 4px 4px rgba(200, 10, 10, .1);
  position: fixed;
  z-index: 90;
  background-color: whitesmoke;
}

.header-logo{
  flex: 1;
}


.logo{
  width: 100%;
  height: 52px;
  display: inline-block;
}

.nav{
  position: relative;
  left: 0;
}

.menu{
  margin: 15px;
}

.nav-menu{
  height: 60vh;
  width: 60%;
  background-color: rgba(250, 250, 250, 1);
  transition: all 1s;
  position: absolute;
  top: 0;
  z-index: 99;
  border: 1px solid red;
  animation: bordercolor 3s ease-in-out infinite alternate;
}

nav a{
  text-decoration-line: none;
  color: red;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  display: block;
}

.first-section{
  padding-top: 76px;
}

.first-section p{
  padding: 10px;
  font-size: 18px;
  word-spacing: 3px;
  text-align: left;
}

.apply{
  padding: 13px;
  text-align: center;
  text-decoration-line: none;
  background-color: #f54e42;
  border-radius: 5px;
  margin: 10px;
  color: white;
  transition: ease-in-out 0.1s;
  animation: bgcolor ease-in-out 4s infinite alternate;
}

@keyframes bgcolor{
  0%{background-color: green;}
  25%{background-color: crimson;}
  50%{background-color: red;}
  100%{background-color:  green;}
}

.apply:hover,
.apply:active{
  background-color: green;
}

.logo2{
  width: 100%;
  margin-top: 10px;
  border-block: 2px;
  border-style: solid;
  animation: bordercolor ease-in-out 1s infinite alternate;
}

@keyframes bordercolor{
  0%{border-color: green;}
  25%{border-color: crimson;}
  50%{border-color: darkgreen;}
  100%{border-color: red;}
}

.second-section{
  margin: 10px;
}

.third-section{
  background-color: rgba(60, 60, 60, .4);
  justify-content: center;
  align-items: center;
  text-align: center;
}

.logo3{
  width: 80%;
  margin: 5px;
  border-radius: 10px;
}

.patners{
  padding: 20px;
  font-weight: bold;
  font-size: 28px;
  color: white;
}

.first-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.first-container div{
  width: 50%;
}

.support{
  font-size: 8px;
  color: #ee0000;
  text-transform: uppercase;
}

.christmas-animae{
  font-size: 27px;
  text-align: center;
  text-transform: uppercase;
  color: transparent;
  animation: textc ease-in-out 3s infinite alternate;
}

@keyframes textc{
  0%{background: linear-gradient(45deg, green, orangered);
  -webkit-background-clip: text;
  }
  
  50%{
    background: linear-gradient(90deg, green, orangered);
    -webkit-background-clip: text;
  }
  
  100%{
    background: linear-gradient(180deg, red,darkgreen);
    -webkit-background-clip: text;
  }
}

.process-container{
  padding: 10px;
  font-weight: bold;
}

#name{
  padding: 8px;
}

.js-button{
  display: block;
  background-color: green;
  padding: 10px;
  margin: 5px;
  border: none;
  border-radius: 5px;
}

.error{
  font-size: 10px;
  color: red;
}

.serial{
  padding: 10px;
  font-weight: bold;
  margin-bottom: 20px;
}

.continue{
  text-align: center;
}

.fill{
  font-weight: bold;
}

.animate{
  height: 5px;
  width: 60px;
  background-color: green;
  animation: divanimate ease 3s infinite alternate;
}

@keyframes divanimate{
  0%{
    background-color: green;
    position: relative;
    left: 0px;
  }
  
  100%{
    background-color: red;
    position: relative;
    left: 80%;
    
  }
}

#form{
  margin: 10px;
  border: 3px solid red;
  animation: bordercolor 3s ease-in infinite alternate;
  border-radius: 5px;
}

.form label{
  display: block;
  font-weight: bold;
  padding: 5px;
}

label{
  font-weight: bold;
}

.form input{
  width: 80%;
  margin-top: 5px;
  padding: 8px;
  border-top: none;
  border-right: none;
  border-left: none;
  margin-bottom: 10px;
}

fieldset{
  border: 2px solid red;
  animation: bordercolor 3s ease-in infinite alternate;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

legend{
  font-weight: bold;
}

.note{
  font-size: 10px;
  font-weight: 200;
  color: green;
}

.submitdiv{
  width: 100%;
  display: block;
  text-align: center;
}

.submit{
  width: 80%;
  text-align: center;
  font-weight: bold;
}

footer{
  margin-top: 30px;
}



.nav2{
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.nav2 hr{
  height: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0;
}

hr{
  animation: bordercolor ease-in-out 2s infinite alternate;
}

.nav2 a{
  text-decoration-line: none;
  color: black;
}

.final{
  font-size: 12px;
  color: transparent;
  animation: textc ease-in-out 3s infinite alternate;
}

.copyright{
  text-align: center;
}

.congratulations{
  font-weight: bold;
  color: transparent;
  animation: textc ease-in-out 1s infinite alternate;
}

.merry{
  animation: divanimate ease-in-out 3s infinite alternate;
  width: 100px;
  font-weight: bold;
  color: white;
  padding: 5px;
  margin-top: 30px
}

@keyframes merryanimate{
  0%{
    background-color: green;
    position: relative;
    left: 0px;
  }
  
  100%{
    background-color: red;
    position: relative;
    left: 10%;
    
  }
}

.fb{
  margin-bottom: 20px;
}